<li class="py-2">
    No.{{id}}
    <span class="text-danger">{{name}}</span>

    {{#if consumed}}
    {{else}}
    <button class="consume btn btn-sm btn-secondary" data-id="{{id}}">
        c o n s u m e
    </button>
    {{/if}}
</li>