<h1 class="text-center">Consume thine Burgers</h1>

<div class="row p-5">
    <div class="col-6 px-5">
        <h3>Burgers to consume</h3>

        <ul>
            {{#each burgers}}
            {{#unless consumed}}
            {{> individual-burger consumed=false}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6 px-5">
        <h3>Burgers that have been consumed</h3>

        <ul>
            {{#each burgers}}
            {{#if consumed}}
            {{> individual-burger consumed=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="text-center">
    <h3>o f f e r b u r g e r</h3>
    <form id="create-form">
        <div class="form-group">
            <textarea id="burger-to-add" cols="30" rows="2" placeholder="offer your sacrifice here"></textarea>
        </div>
        <button type="submit" id="add-burger" class="btn btn-sm btn-danger">Add</button>
    </form>
</div>