<h1>Burgers</h1>

<h2>Burgers that have not been eaten</h2>

<ul>
    {{#each burgers}}
    {{#unless consumed}}
    {{> individual-burger consumed=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>

<ul>
    {{#each burgers}}
    {{#if consumed}}
    {{> individual-burger consumed=true}}
    {{/if}}
    {{/each}}
</ul>